.switch__buttons {
  display: flex;

  & button {
    padding: 10px;
    color: #ffff;
    background: $grey-dark;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
      background: $grey-lighter;
    }
  }
}
