.icon-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: $white;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
  opacity: 0.95;

  &__red {
    background-color: $red-prim;
  }

  &__green {
    background-color: $green-prim;
  }

  &__dark {
    background-color: $text-grey-b;
  }
}

.leaflet-popup-content ul {
  padding: 0;
  list-style: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: $white;
  background: $grey-light;
}
