.world-data {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
  font-family: 'Roboto', sans-serif;
  color: #ffff;

  &__card {
    padding: 10px;
    text-align: center;
    background-color: $grey-dark-v2;
    border-radius: 3px;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }
  }
}
