$red-prim: #c8354e;
$red-alt: #c32d4f;
$red-darker: #b32b4a;
$red-dark: #902039;

$green-prim: #33b349;
$green-alt: #31d65f;
$green-darker: #37af59;
$green-dark: #278040;

$grey-dark: #1c1c22;
$grey-lighter: #1f1f25;
$grey-light: #26262c;
$grey-dark-v2: #2f2f33;

$blue-prim: #45b5da;

$white: #eee;

$text-grey-a: #666;
$text-grey-b: #888;
$text-grey-c: #b4b4d6;

$ff-prim: 'Roboto', sans-serif;
