.app {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(70px, auto) 4fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  min-height: 100vh;
  max-height: 100vh;
  padding: 5px;
  margin: 0;
  background-color: $grey-dark;

  @media screen and (max-width: 1200px) {
    gap: 2px;
    padding: 2;
  }

  @media screen and (max-width: 1023px) {
    grid-template-rows: minmax(60px, auto) 100vh 80vh auto;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-height: none;
  }

  @media screen and (max-width: 679px) {
    grid-template-rows: minmax(60px, auto) 100vh 60vh 80vh auto;
  }

  &__header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @media screen and (max-width: 1023px) {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }
  }

  &__list {
    grid-row: 1 / 4;
    grid-column: 1 / 2;

    @media screen and (max-width: 1023px) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    @media screen and (max-width: 679px) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
  }

  &__map {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    @media screen and (max-width: 1023px) {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 679px) {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
    }
  }

  &__graph {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    @media screen and (max-width: 1023px) {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 679px) {
      grid-row: 5 / 6;
      grid-column: 1 / 3;
    }
  }

  &__table {
    grid-row: 1 / 4;
    grid-column: 3 / 4;

    @media screen and (max-width: 1023px) {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    @media screen and (max-width: 679px) {
      grid-row: 3 / 4;
      grid-column: 1 / 3;
    }
  }
}
